# Python
*.pyc
__pycache__/

# macOS
.DS_Store

# Virtual environments
venv/

# Environment variables
.env

# Media or generated content
.media/

# Gradle (if using Java tools)
.gradle/

# SQLite database
backend/db.sqlite3
